@import "tailwindcss";
@tailwind utilities;

@theme {
	--color-primary: hsl(234, 50%, 10%);
	--color-white: hsl(234, 50%, 90%);
	--color-tertiary: hsl(294, 80%, 80%);
	--color-green: hsl(174, 80%, 80%);
}
